[Desktop Entry]
Encoding=UTF-8
Name=rtm
Comment=
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_rtm
X-KDE-PluginInfo-Author=Riccardo Iaconelli
X-KDE-PluginInfo-Email=riccardo@kde.org
X-KDE-PluginInfo-Name=rtm
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.ruphy.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
